/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Space";
	src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

// utility class for section separation
.white-line {
	border-bottom: 2px solid #FFFFFF;
}


body {
  background-color: #151515;
  color: #FFFFFF;
	font-family: "Space";
	text-align: center;
}

.bio {
	padding: 0 9px;
	
	nav {
		margin-top: 30px;

		img {
			padding: 0 10px;
		}
	}

	> img {
		width: 60%;
		margin-top: -100px;
	}

	p:first-child {
		font-size: 24px;
		font-weight: bold;
		padding-top: 30px;
	}

	h1 {
		font-size: 40px;
		font-weight: bold;
		margin-top: 40px;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		margin-top: 30px;
	}

	.underline-name {
		border-bottom: 5px solid #4EE1A0;
	}

	.underline-contact {
		margin-top: 20px;
		margin-bottom: 40px;
	
		span {
			border-bottom: 2px solid #4EE1A0;
		}
	}
}

.experience {
	h1 {
		font-size: 32px;
		margin-top: 30px;
		font-weight: bold;
	}

	p {
		font-size: 16px;
		margin-top: 10px;
	}

	p:nth-of-type(6) {
		margin-bottom: 40px;
	}
}

@mixin project-style {
	img {
		width: 100%;
		margin-top: 40px;
	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		margin-top: 20px;
	}

	.techstack {
		display: flex;
		width: 25%;
		justify-content: space-between;
		margin-top: 10px;
	}

	.links {
		display: flex;
		width: 70%;
		justify-content: space-between;
		margin-top: 20px;

		p {
			border-bottom: 2px solid #4EE1A0;
		}
	}
}

.projects {
	margin-top: 40px;
	text-align: left;
	padding: 0 20px;

	h1 {
		font-size: 40px;
		font-weight: bold;
		display: inline-block;
	}

	.underline-contact {
		display: inline-block;
		margin-left: 60px;
		span {
			border-bottom: 2px solid #4EE1A0;
		}
	}

	.project1 {
		@include project-style;
	}

	.project2 {
		@include project-style;
	}

	.project3 {
		@include project-style;
		
		.techstack {
			width: 60%;
		}
	}

	.project4 {
		@include project-style;
		.techstack {
			width: 60%;
		}
	}

	.project5 {
		@include project-style;
		.techstack {
			width: 60%;
		}
	}

	.project6 {
		@include project-style;
		margin-bottom: 40px;
		.techstack {
			width: 60%;
		}
	}
}

.contact {
	background-color: rgb(37, 36, 36);
	padding: 40px 10px 0 10px;

	h1 {
		font-size: 40px;
		font-weight: bold;
	}

	> p {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.underline-input {
		border-bottom: 2px solid #979797;
	}

	form {
		display: flex;
		flex-direction: column;

		input {
			background: transparent;
			border: none;
			margin: 0 0 10px 20px;
		}

		input:nth-of-type(2) {
			margin-top: 20px;
		}

		textarea {
			background: transparent;
			border: none;
			resize: none;
			margin: 20px 0 10px 20px;
		}

		textarea::placeholder {
			font-size: 16px;
		}

		p {
			align-self: flex-end;
			margin-top: 20px;
			margin-bottom: 80px;
			span {
				border-bottom: 2px solid #4EE1A0;
				font-weight: bold;
			}
		}
	}
}

footer {
	background-color: rgb(37, 36, 36);
	padding-top: 40px;  // use padding due to background color changing if we use margin
	padding-bottom: 40px;

	h1 {
		font-size: 24px;
		font-weight: bold;
	}
	nav {
		margin-top: 20px;

		img {
			padding: 0 10px;
		}
	}
}



// tablet styles
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
}